body {
  font-family: sans-serif;
  background: darkblue;
}

#wrapper {
  position: relative;
  padding: 60px 60px;
  /* height: 633px;
  width: 1135px; */
  margin: 0 auto;
}

svg {
  /* position: relative;
  width: 90%;
  height: 90%; */
}

.modal {
  position: absolute;
  top: 5vh;
  display: none;
  overflow-y: scroll;
}

.modal h2 {
}

.modal p,
ul {
  /* font-family: 'Loras', serif; */
}

.modal ul {
  padding-left: 0;
}

.modal li {
  margin-bottom: 12px;
}

.modal .close {
  font-size: 25px;
  font-weight: 100;
  color: white;
  cursor: pointer;
  float: right;
  margin-right: 40px;
  margin-left: -40px;
  border: 1px white;
}

.modal a,
.modal:visited {
  color: white;
}

.modal-columns-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.modal-equitable,
.modal-securing,
.modal-maintaining {
  padding: 20px 30px;
}
